body 
{
  margin: 25;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
}
.nav-bar {
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
  text-align: center;
}
#log
{
  padding:0;
  display: inline;
}
#logo
{
    width:400px;
    height: 100px;
    float: left;
    position: relative;
}
.nav-container a 
{
  color: black;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 25px;
  display: inline-table;
  position: relative;
  
}
.nav-container a:hover 
{
  background-color: rgb(236, 229, 229);
  color: green;
}
button
{
    background-color: darkgreen;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    float: right;
    width: auto;
}

/* Slideshow container */
.slideshow-container 
{
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 20px;
}

/* Hide the images by default */
.mySlides 
{
  display: none;
}
.slide 
{
  height:30%;
}
/* Next & previous buttons */
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/5 etc) */
.numbertext 
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot 
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade 
{
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade 
{
from {opacity: .4}
to {opacity: 1}
}
.centered 
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
font-weight: bold;
color: white;
text-align: center;
}
.centered2
{
position: absolute;
top: 60%;
left: 55%;
transform: translate(-70%, -70%);
font-size: 25px;
font-weight: bold;
color: white;
text-align: center;
border-color: white;
border-width: 10;
border-style: solid;
padding: 10px;
}
#padd
{
padding-left: 400px;
padding-top: 20px;
}
#footer
{
  background-color: #717171;
  color:white;
  text-align: center;
  width: 100%;
  height: 30px;
  display: table; 
}

.modal-content 
{
  background-color: #fefefe;
  width: 100%; /* Could be more or less, depending on screen size */
}
#logintitle, #signuptitle
{
  
  color: darkgreen;
}

input[type=text], input[type=password] 
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus 
{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */

button:hover 
{
  opacity:1;
  cursor: pointer;
}

/* Float cancel and signup buttons and add an equal width */
 .signupbtn, .loginbtn 
{
  float: left;
  width: 50%;
}
#centered 
          
{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-align: center;
  font-family: cursive;
}
#about 
{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color:brown;
}
.aboutp1 
{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 1.6;
  text-align: justify;
  margin: 15px;
}
/* Add padding to container elements */

/* The Modal (background) */
.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
   /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: white;
  
}
 
/* The Close Button (x) */
.close 
{
  position: absolute;
  right: 35px;
  top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: darkgreen;
}

.close:hover,
.close:focus 
{
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) 
{
  .loginbtn, .signupbtn {
     width: auto;
  }
}
.signup , .login
{
  display: inline-block; 
  margin:60px;
}
hr
{
  position: relative; 
  top: 20px; 
  height: 5px; 
  background: green; 
  margin-bottom: 50px;
}
.adm-log
{
  color:green;
  text-decoration: none;
  text-align: center;
  float:right;
  margin: 25px;
}